#home-holder {
    background: url('../images/background.jpg');
    background-size: 100% 100%;
    height: 100%;
    padding-top: 30px; 
}

#home-holder img {
    width: 100px;
}

#home-holder #user-info {
    width: 400px;
    margin: 0 auto;
}

#home-holder h2 {
    color: white;
}

#chartdiv {
    position: absolute;
    width: 80%;
    height: 90%;
    display: none;
    right: 10%;
    bottom: 5%;
    z-index: 1000;
    background-color: white;
    border-radius: 10px;
    opacity: 0.9;
}