#home-holder {
    background: url('../images/background.jpg');
    background-size: 100% 100%;
    height: 100%;
    padding-top: 30px; 
}

#home-holder img {
    width: 100px;
}

#home-holder #user-info {
    width: 400px;
    margin: 0 auto;
}

#home-holder h2 {
    color: white;
}