<div id="guest-holder">
    <form>
        <label for="user-name">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="******">
        <div id="buttons">
            <a type="button" class="btn btn-success" id="btn-login">Login</a>
            <a href="#/register/" class="btn btn-info">Register</a>
        </div>
    </form>
</div>