<div id="home-holder">
    <div id="user-info">
        <div class="summary-container">
            <h2>Hello, {{username}}!</h2>
        </div>

        <a href="#/trainers/" class="btn btn-info">Start Game</a>
        <a href="#/" class="btn btn-info" id="btn-logout">Logout</a>

        <button type="button" class="btn btn-danger" id="close-charts">X</button>
        <button type="button" class="btn btn-warning" id="get-user-data">My stats</button>
        <button type="button" class="btn btn-warning" id="get-all-users-data">TOP 10 Players</button>

        <div id="chartdiv"></div>
    </div>
</div>