<div id="how-to-play-container">
    <div>
        <p><strong>To perform attack, you have to click once on your card and:</strong></p>
        <p>- twice on any of the opponent's cards</p>
        <p>- once on the enemy avatar</p>
        <p><strong>To end your turn, just press the "End Turn" button, then the bot player will make a move.</strong></p>
        <p><strong>More information about the special cards:</strong></p>
        <p>- There are 2 type of special cards: Health-stealing cards and Mana-stealing cards.</p>
        <p>- After a special card is used, it becomes a normal one.</p>
    </div>
</div>