<div id="register-holder">
    <form>
        <fieldset>
            <div class="col-lg-3 picture-upload">
                <div class="form-group">
                    <img class="thumbnail picture-preview" />
                </div>
                <div class="form-group">
                    <p class="picture-name"></p>
                    <button type="button" id="upload-file-button" class="btn btn-md btn-info">Upload</button>
                    <input type="file" id="picture" />
                </div>
            </div>
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" required>
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" required>
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="******">
            <a type="button" class="btn btn-success" id="btn-register">Register</a>
        </fieldset>
    </form>
</div>