<div id="register-holder">
    <form>
        <fieldset>
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" required>
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" required>
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="******">
            <a type="button" class="btn btn-success" id="btn-register">Register</a>
        </fieldset>
    </form>
</div>