<div id="trainers-holder">
    <h1>CHOOSE A HERO</h1>
    <div id="trainers">
        <a href="#/game/">
            <img src="images/evlogi.png" trainer-name="evlogi">
        </a>
        <a href="#/game/">
            <img src="images/koce.png" trainer-name="koce">
        </a>
        <a href="#/game/">
            <img src="images/cuki.png" trainer-name="cuki">
        </a>
        <a href="#/game/">
            <img src="images/doncho.png" trainer-name="doncho">
        </a>
    </div>
</div>