@font-face {
    font-family: 'Pinkdunk';
    src: url('../fonts/Pindunk.ttf');
}

@font-face {
    font-family: 'anthropocene';
    src: url('../fonts/anthropocene.otf');
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    background: url('../images/home.jpg') no-repeat;
    background-size: cover;
}

/* Guest-page styles */
#begin-controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    margin: 5%;
}

#home-container #play-now {
    margin-top: 5%;
    width: 200px;
    height: auto;
    background: #694f3e; /* Old browsers */
    background: -moz-linear-gradient(top,  #694f3e 0%, #a5857d 50%, #694f3e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #694f3e 0%,#a5857d 50%,#694f3e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #694f3e 0%,#a5857d 50%,#694f3e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#694f3e', endColorstr='#694f3e',GradientType=0 ); /* IE6-9 */
    padding: 0.3%;
    border-radius: 4px;
    border: 1px solid #9B8D8B;
}

#home-container #play-now #play-now-inner {
	display: flex;
	align-items: center;
	justify-content: center;
    width: 98.5%;
    height: 92%;
    background: #9500b7; /* Old browsers */
    background: -moz-linear-gradient(left,  #9500b7 1%, #ae5bbf 36%, #ae5bbf 36%, #ae5bbf 63%, #9500b7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #9500b7 1%,#ae5bbf 36%,#ae5bbf 36%,#ae5bbf 63%,#9500b7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #9500b7 1%,#ae5bbf 36%,#ae5bbf 36%,#ae5bbf 63%,#9500b7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9500b7', endColorstr='#9500b7',GradientType=1 ); /* IE6-9 */
    border-radius: 3px;
    border: 2px solid #B61EED;
}

#home-container #play-now #play-now-inner:hover {
    background: #9b1db7; /* Old browsers */
    background: -moz-linear-gradient(left,  #9b1db7 1%, #e578ed 33%, #e249ed 67%, #9b1db7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #9b1db7 1%,#e578ed 33%,#e249ed 67%,#9b1db7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #9b1db7 1%,#e578ed 33%,#e249ed 67%,#9b1db7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b1db7', endColorstr='#9b1db7',GradientType=1 ); /* IE6-9 */
}

#home-container #play-now #play-now-inner span {
    font-family: Pinkdunk;
    color: white;
    font-size: 250%;
    display: inline-block;
}

#home-container #tb-username {
    width: 300pt;
    height: 10%;
    font-size: 250%;
    display: block;
    border-radius: 5px;
    border: 1px solid #7c5845;
    background-color: rgba(36,25,18, 0.9);
    color: white;
}

a {
    text-decoration: none;
}

/* End of Guest-page styles */

/* Trainers-page styles */

#trainers-holder {
    margin: 0 auto;
    width: 60%;
}

#trainers-holder #trainers {
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#trainers-holder h1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 80pt;
    font-family: anthropocene;
    color: white;
    width: 80%;
    margin-left: 12%;
}

#trainers-holder a {
    display: inline-block;
    width: 25%;
}

#trainers-holder img {
    width: 90%;
}

#trainers-holder img:hover {
    width: 100%;
}

/* End trainers page style */

/* Game page styles */
#pass-turn {
    position: absolute;
    border: 1px solid black;
    width: 10%;
    height: 60px;
    left: 75%;
    top: 48.5%;
    background: transparent;
}

#pass-turn:hover {
    cursor: pointer;
}

#playField #exit-now {
    position: absolute;
    top: 90%;
    width: 200px;
    height: auto;
    background: #694f3e; /* Old browsers */
    background: -moz-linear-gradient(top,  #694f3e 0%, #a5857d 50%, #694f3e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #694f3e 0%,#a5857d 50%,#694f3e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #694f3e 0%,#a5857d 50%,#694f3e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#694f3e', endColorstr='#694f3e',GradientType=0 ); /* IE6-9 */
    padding: 0.3%;
    border-radius: 4px;
    border: 1px solid #9B8D8B;
}

#playField #exit-now #exit-now-inner {
	display: flex;
	align-items: center;
	justify-content: center;
    width: 98.5%;
    height: 92%;
    background: #9500b7; /* Old browsers */
    background: -moz-linear-gradient(left,  #9500b7 1%, #ae5bbf 36%, #ae5bbf 36%, #ae5bbf 63%, #9500b7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #9500b7 1%,#ae5bbf 36%,#ae5bbf 36%,#ae5bbf 63%,#9500b7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #9500b7 1%,#ae5bbf 36%,#ae5bbf 36%,#ae5bbf 63%,#9500b7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9500b7', endColorstr='#9500b7',GradientType=1 ); /* IE6-9 */
    border-radius: 3px;
    border: 2px solid #B61EED;
}

#playField #exit-now #exit-now-inner:hover {
    background: #9b1db7; /* Old browsers */
    background: -moz-linear-gradient(left,  #9b1db7 1%, #e578ed 33%, #e249ed 67%, #9b1db7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #9b1db7 1%,#e578ed 33%,#e249ed 67%,#9b1db7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #9b1db7 1%,#e578ed 33%,#e249ed 67%,#9b1db7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b1db7', endColorstr='#9b1db7',GradientType=1 ); /* IE6-9 */
}

#playField #exit-now #exit-now-inner span {
    font-family: Pinkdunk;
    color: white;
    font-size: 250%;
    display: inline-block;
}

/* End of game page styles */